@media screen and (max-width: 767px)
{
    *{box-sizing: border-box; 
    } /* permet le dimensionnement des boîtes sur le bord externe de la bordure (intégration 
        du padding et de la bordure */

    /* GENERAL */

        /* POLICES */

    
    @font-face {
        font-family: 'shrikhandregular';
        src: url('polices/Shrikhand/shrikhand-regular-webfont.woff') format('woff'), url('polices/Shrikhand/shrikhand-regular-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    
    }
    
    @font-face{ 
        font-family: 'Roboto';
        /*src: url('polices\Roboto\web fonts\WebFont.eot');*/
        src: /*url('polices\Roboto\web fonts\WebFont.eot?iefix') format('eot'),*/
             url('polices\Roboto\web fonts\WebFont.woff') format('woff')/*,
             url('polices\Roboto\web fonts\WebFont.ttf') format('truetype'),
             url('polices\Roboto\web fonts\WebFont.svg#webfont') format('svg')*/;
    }
    
    
        /* COULEURS */

    :root{
        --couleur-primaire:#9356DC;
        --couleur-secondaire: #FF79DA;
        --couleur-tertiaire: #99E2D0;
        --couleur-tertiaire-foncé: #00c291;
        --gris-primaire: rgb(90, 90, 90);
        --gris-secondaire: rgb(240, 240, 240);
        --gris-tertiaire: rgb(245, 245, 245);
    }    

    html, body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        /*font-family: 'shrikhandregular';*/
        font-family: "Roboto", Helvetica, Arial, sans-serif;       
    }    
    
        /* POLICES */

        /* Page Accueil */
    .accueil h1{
        font-size: 7vw;
    }
    .accueil h2{
        font-size: 5vw; 
        font-weight: lighter;            
    }
    .accueil h3{
        font-size: 4vw;
    }
    .bouton h3{
        font-size: 4vw;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: lighter;
    }
    .fonctionnement h2, .restaurant h2 {       
        font-size: 7vw;              
    }
    .etape h3{       
        font-size: 4vw;                
    }
    .sous-titre h3{        
        font-size: 6vw;        
    }    
    .restaurant-icone{        
        font-size: 7vw;
    }
    .restaurant p{
        font-size: 4.5vw;
    }

    /* Page Restaurants */
    .page-restaurant h1{
        font-family: 'shrikhandregular';
    }
    .page-restaurant h2{
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: lighter;
    }
    .page-restaurant h2{
        font-size: 5vw;
    }


    /* PAGE ACCUEIL */
    /* HEADER */      

    .logo{        
        margin: 25px 0 15px 0; 
        width: 100%;
        text-align:center;                                      
    }    
    .logo img{
        /*margin-left: 17px;*/
        width: 50%;
    }    
    
    
    /* MAIN */  

    .localisation{
        display: flex;
        justify-content: center;
        align-items: baseline;               
        border-left: none;
        border-right: none;
        width: 100%;
        /*height: 72px;*/        
        background: var(--gris-secondaire);
        box-shadow: inset 0px 3px 5px 0px rgb(200, 200, 200);
    }
    .localisation--ville{
        margin: 20px;
        font-size: 4vw;
    }
    .icone-map{
        font-size: 4vw;        
    }
    .accueil .titres{
        background: var(--gris-tertiaire);
        margin: auto;        
        padding-top: 50px;
        padding-bottom: 20px;
        width:100%;
    }
    .titres__n1, .titres__n2{
        text-align: center;        
    }
    .titres__n1{
        margin: 0 45px 0 45px;        
    }
    
    .bouton {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 50px auto;
        border: none;
        border-radius: 50px;
        color: white;
        padding:20px;
        background: linear-gradient(to bottom, #FF79DA, #9356DC);
    }
    .bouton h3{
        margin: auto;
        text-align: center;
    }
    /* Section FONCTIONNEMENT */
    .fonctionnement{        
        height: auto;
        margin: 0 auto;
        padding-bottom: 30px                    
    }
    .fonctionnement h2 {
        margin-left: 25px;
        font-size: 7vw;
        margin-bottom: 40px;
        margin-top: 65px;
    }
    .bloc-etapes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0 0 0 40px;
    }
    .etape{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: auto;       
        border-radius: 30px;
        margin-bottom: 45px;        
        background: var(--gris-tertiaire);
        position: relative;
    }
    .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 5px 0 0 0;
    
        color: white;
        background: var(--couleur-primaire);
        text-align: center;
    
        font: 22px Arial, sans-serif;

        position: absolute;
        left: -20px;
    }
    .etape-icone{ 
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        color: var(--gris-primaire);
    }
    .fa-store{
        color: var(--couleur-primaire);
    }
    .etape h3{        
        margin: 35px 20px 35px 15px;        
    }
    .etape i{
        font-size: 24px;
    }

    /* Section R E S T A U R A N T S */

    .restaurant{
        height: auto;
        padding-top: 60px;
        background: var(--gris-secondaire);
                       
    }
    .restaurant-titre{                    
        margin: 0 0 0 30px;        
    }
    
    .bloc-restaurant{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }    
    .restaurant-carte{
        width: 90%;               
        border-radius: 10px;
        background-color: white;
        /*position: relative;*/
        margin-bottom: 20px;               
    }
    .restaurant-carte a{
        text-decoration: none;
        color: black;
        width: auto;
    }
    /*.img-enchantée{
        max-height:150px;
        max-width: 1000px;
        overflow: hidden;
    }*/
    /*.img-enchantée{        
        position: absolute;
        clip-path: rect(100px,0px,100px,0px);
        width:100%;            
    }*/

    .textover{
        position: relative;
        width: 100%;
        margin: 0;
        /*max-width: 400px;*/
    }
    .img-restaurant{
        /*position: relative;*/
        width: 100%;
        height: 60%;
        
        object-fit:cover;               
        border-radius: 10px 10px 0 0 ;
    }
    .textover figcaption {
        position: absolute;
        top: 11%;
        left: 74%;
        padding: 7px;
        border-radius: 5%;
        font-size: 4vw;
        width: 21%;
        color: var(--couleur-tertiaire-foncé);
        background: var(--couleur-tertiaire);
        /* text-align: center; */        
        /*background-color: rgba(0,0,0,0.5);*/
    }

    /*.enchantée-carte{
        position:relative;
    }
    .img-enchantée{
        position: absolute;
        top: 0%;
        left: 0%;
        clip-path: rectangle(1360px, 0, 840px, 0);

        width: 100%;
        height: 100%;        
        object-fit:cover;               
        border-radius: 10px 10px 0 0 ;
    }*/
    
    .sous-titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-top: 15px;
    }    
   
    
    /*.img-restaurant{        
        object-fit:cover;       
        width: 100%;       
        border-radius: 10px 10px 0 0 ;          
        /*position: relative;      
    }
    /*.restaurant-stick{
        /*position: absolute;
        top: 0px;
        left: 165px;        
        padding: 8px;
        border-radius: 5%;
        font-size: 24px;        
        width: auto;
    }*/
    
    .restaurant-nom{        
        margin: 0 0 0 20px;
    }
    .restaurant-lieu{        
        margin: 5px 0 15px 20px;        
    }
    .restaurant-icone{
        display: inline-block;        
    }
        

    /* FOOTER */
    
    footer{
        height: 250px;
        background: var(--gris-primaire);
    }
    .img-logo-footer{
        width: 150px;
        height: auto;
        margin-left: 35px;
        margin-top: 30px;       
        filter:invert(100%);
    }
    
    .footer-donnees li{        
        margin: 0 0 20px 0;        
    } 
    .footer-donnees a{
        list-style-type: none;
        text-decoration: none;
        color: white;   
        font-size: 20px;                     
    }
       
    .footer-titres1et2{
        display: flex;
        justify-content: flex-start;
        align-items: center;        
    }
    .footer-titres3et4{
        margin-left: 0px;
    }
    .footer-icone-couverts{
        margin: 0px 24px 0 0;
    }
    .footer-icone-poignee{
        margin: 0px 15px 0 0;
    }

    /* LA PALETTE DU GOUT */
    /* HEADER */      

    .header-restaurant{
        /*position: relative;*/
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .logo-1{        
        margin: 20px 0 10px 0; 
        width: 100%;
        text-align: center;
                                        
    } 
    .logo-1 a{
        text-decoration: none;
        /*position :absolute;
        right: 290px;
        top: -10px;*/ 
    }  

    .img-logo-1{
        /*margin-left: 40px;*/
        width: 40%;
        position :relative;
    }    
    
    .icone-fleche{
        /*margin-left: 20px;*/
        
        font-size: 20px; 
        color: black;     
        position :absolute;
        left: 30px;
        top: 26px;              
    }

    
    /* MAIN */

    .page-restaurant{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .img-page-restaurant{        
        width: 100%;
        height: auto;
    }
    .titre-page-restaurant{
        /*position: relative;*/
        /*width: 100%;*/
        /*display: flex;
        justify-content:flex-start;
        align-items: baseline;*/  
       /* margin: 0 0 0 20px;*/
        margin: 30px 0 0 0;
        width: 100%;
        text-align:left;              
    }
    .titre-page-restaurant h1{        
        /*font-family: 'shrikhandregular';*/
        /*position :relative;*/
        margin: 40px 0 0 20px;
        font-size: 7vw;                
    }
    .page-restaurant-icone{
        /*display :inline-block;*/
        font-size: 7vw;             
        position: absolute;
        right: 35px;
        top: 38px;
    }


     


    .menu{
        width: 100%;
        height: auto;
        margin-top: -50px;
        border-radius: 40px;
        background: var(--gris-tertiaire);
        position: relative;                      
    }
    
    
    
    .sous-menu{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    /*.menu h1{
               
    }*/
    .menu h2{
        text-transform: uppercase;
        margin: 20px 0 5px 20px;
    }
    .soulignage{
        border-top: 5px solid var(--couleur-tertiaire);
        width: 43px;
        margin: 0 0 20px 20px;
    }
    .choix{
        width: 90%;
        border-radius: 20px;
        background-color: white;
        margin: 0px 0 20px 0px;
        font-family: "Roboto", Helvetica, Arial, sans-serif; 
               

    }
    .ligne-prix{
        display: flex;
        justify-content: space-between;
        align-items: center;               
    }        
    
    .choix p{
        margin: 10px 20px 10px 10px;
        font-size: 4vw;
    }
    .choix h3{
        margin: 10px 20px 0px 10px;
        font-size: 4.5vw;        
    }
    .prix{
        font-weight: bold;
    }       
    
    .bouton-commander{
        width: 55%;
    }
    
    /* FOOTER --> Idem page d"accueil */

    /* Animation "Apparition des menus" */


    /*** A N I M A T I O N - CHOIX DE MENU ***/
    
    .choix{
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    .choix:hover{
        cursor: pointer;        
    } 

        /* GLISSEMENT VOLET SUR LA GAUCHE */
    
    .ligne-prix::before{
        content: '';
        position: absolute;
        top: 0px;
        right: -78px;
        width: 17%;
        height: 100%;
        background:var(--couleur-tertiaire);
        border-radius:0 20% 20% 0;
        z-index: -1;
        transition: all 500ms;        
    }    
    
    .choix:hover > .ligne-prix::before{
       right: 0px;
       border-radius: 0;        
    }   
        
        /* ROTATION ICONE */

    .ligne-prix::after{
        content: "\f058";
        display: inline-block;           
        color:white;
        font-family: "Font Awesome 5 Free";            
        font-weight: bold;
        font-variant: normal;
        font-size: 5vw;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;                
                
        position: absolute;
        top: 25px;
        right: -27px;         
        
        transition: all 500ms;
    }
    .choix:hover > .ligne-prix::after{
        right: 27px;
        transform: rotate(360deg);
    }  
        
        
        /* GLISSEMENT PRIX A GAUCHE */
             
    .prix{
        transition: transform 500ms;    
    }
    .choix:hover .prix{                
        transform: translateX(-15vw);                               
    }
        
        /* REPLI TEXTE CHOIX A GAUCHE */

    .détail{               
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .choix:hover .détail{
        animation: repli-texte 500ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes repli-texte {
        from{
            width: 100%;
        }
        to{
            width: 63%;
        }
    }

        /* REPLI TITRE CHOIX A GAUCHE */

    .choix h3{        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;       
    }
    .choix:hover > h3{
        animation: repli-titre 500ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }    
    @keyframes repli-titre {
        from{
            width: 100%;
        }
        to{
            width: 70%;
        }
    } 

    /* Au clic sur “Contact”, un renvoi vers une adresse mail est effectué. */

    
    /*** A N I M A T I O N - REMPLISSAGE COEUR ***/
       
    /*.fa-heart {
        color: #FFF;
        background-color: #000;
        border-radius: 50%;
        padding:.2em;
    }*/
    .fa-heart::before {
        content: "\f004";
        /*font-weight: bold;*/
        transition: color 1s ease-out;
    }
    .fa-heart:hover::before{        
        font-weight: bold;
        color:#9356DC;
        cursor: pointer;
    }

    /*.fa-heart {
        color: #FFF;
        background-color: var(--gris-tertiaire);
        /*border-radius: 50%;
        padding:.2em;
    }*/
    /*.fa-heart::before{
        content: "";        
        background: linear-gradient(to bottom, #FF79DA, #9356DC);
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent;
    }*/

    /*.fa-heart::before {
        content: "\f004";
        font-weight: bold;
        transition: color 1s ease-out;
    }*/
    /*.fa-heart:hover{        
        background: linear-gradient(to bottom, #FF79DA, #9356DC);
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent;
    }*/
    /*.restaurant-icone-plein{
        /*display:inline-block;
        z-index: -1;
    }
    .restaurant-icone-plein:hover{
        display:block;
    }

    .restaurant-icone:hover{
        /*display:none;
    }*/


    
    /*** A N I M A T I O N - SPINNER ***/

    header, main, footer {
        /*animation: name duration timing-function delay iteration-count direction fill-mode;*/              
                
        animation: apparition-fondu ease 3s;        
        animation-fill-mode: forwards; 
        animation-iteration-count: 1; 
    }    
    @keyframes apparition-fondu {
        0% {        
            opacity: 0; 
        }
        80%{
            opacity: 0;
        }
        100% { 
            opacity: 1; 
        }        
    }    
    
    .bloc-spinner{
        margin: 170px auto;
        display: flex;
        justify-content: center;
        align-items: center;        
        
        animation-delay: 0s;
        animation: disparition-fondu linear 5s; 
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;   
    }
    .spinner { 
        display: flex;
        justify-content: center;
        align-items: flex-start;       
        /*width: auto;
        height: auto;*/
        margin-left: 50px;                
    }
    @keyframes disparition-fondu { 
        0% {                 
            opacity: 1; 
        }        
        100% {            
            position: absolute;
            left: -200px;       
            opacity: 0;        
        }
    }

    .spinner1, .spinner2{
        width: 100px;
        height: 100px;
        position: relative;
    }
    .spinner1 div {        
        position: absolute;
        width: 100%;
        height: 100%;
        border: 10px dashed transparent;
        border-top-color: #ad60f5;;
        border-radius: 50%;
        animation: spinner1-un 1.5s linear infinite;        
    }
    .spinner1 div:nth-child(2) {
        border: 10px dashed transparent;
        border-bottom-color: #ad60f5;
        animation: spinner1-deux 1.5s linear infinite;
    }
    @keyframes spinner1-un {
        0% { transform: rotate(0deg); border-width: 10px; }
        50% { transform: rotate(180deg); border-width: 1px; }
        100% { transform: rotate(360deg); border-width: 10px; }
    }
    @keyframes spinner1-deux {
        0% { transform: rotate(0deg); border-width: 1px; }
        50% { transform: rotate(180deg); border-width: 10px; }
        100% { transform: rotate(360deg); border-width: 1px; }
    } 

    .spinner2 div {        
        position: absolute;        
        width: 50%;
        height: 50%;
        border: 10px dashed transparent;
        border-top-color: #ad60f5;;
        border-radius: 50%;
        animation: spinner2-un 1.5s linear infinite;
        /*margin-right: 50%;*/
    }
    .spinner2 div:nth-child(2) {
        border: 10px dashed transparent;
        border-bottom-color: #ad60f5;
        animation: spinner2-deux 1.5s linear infinite;
    }
    @keyframes spinner2-un {
        0% { transform: rotate(0deg); border-width: 10px; }
        50% { transform: rotate(-180deg); border-width: 1px; }
        100% { transform: rotate(-360deg); border-width: 10px; }
    }
    @keyframes spinner2-deux {
        0% { transform: rotate(0deg); border-width: 1px; }
        50% { transform: rotate(-180deg); border-width: 10px; }
        100% { transform: rotate(-360deg); border-width: 1px; }
    }
}